<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BlazeDemoSuite">
	<listeners>
		<listener class-name="listeners.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="BlazeDemoTest">
    <classes>
      <class name="com.BlazeDemo.testcases.LoginTest"/>
      <class name="com.BlazeDemo.testcases.SignupTest"/>
      <class name="com.BlazeDemo.testcases.AddItemTest"/>
      <class name="com.BlazeDemo.testcases.RemoveItemTest"/>
      <class name="com.BlazeDemo.testcases.ItemsInCategoriesTest"/>
      <class name="com.BlazeDemo.testcases.CheckoutTest"/>
    </classes>
  </test> <!-- BlazeDemoTest -->
</suite> <!-- BlazeDemoSuite -->
